:root,.app.dark {
    --bg-color: #1c0c5b;
    --inverted-bg-color: #fffbf5;
    --primary-color: #916bbf;
    --secondary-color: #3d2c8d;
    --tertiary-color: #c996cc;
    --inverted-primary-color: #c3acd0;
    --inverted-secondary-color: #674188;
    --inverted-tertiary-color: #fffbf5;
}
