.app.dark {
  --bg-color: #1C0C5B;
  --inverted-bg-color: #FFFBF5;

  --primary-color: #916BBF;
  --secondary-color: #3D2C8D;
  --tertiary-color: #C996CC;

  --inverted-primary-color: #C3ACD0;
  --inverted-secondary-color: #674188;
  --inverted-tertiary-color: #FFFBF5;
}