:root, .app_green_theme {
  --bg-color: #108b34;
  --inverted-bg-color: #F4FBF6;
  --primary-color: #25640C;
  --secondary-color: #113801;
  --tertiary-color: #015f1c;
  --inverted-primary-color: #003c11;
  --inverted-secondary-color: #061400;
  --inverted-tertiary-color: #F4FBF6;
}