:root,.app_light_theme {
    --bg-color: #fffbf5;
    --inverted-bg-color: #1c0c5b;
    --primary-color: #c3acd0;
    --secondary-color: #674188;
    --tertiary-color: #fffbf5;
    --inverted-primary-color: #916bbf;
    --inverted-secondary-color: #3d2c8d;
    --inverted-tertiary-color: #c996cc;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba( 0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
