.app.light {
  --bg-color: #FFFBF5;
  --inverted-bg-color: #1C0C5B;

  --primary-color: #C3ACD0;
  --secondary-color: #674188;
  --tertiary-color: #FFFBF5;

  --inverted-primary-color: #916BBF;
  --inverted-secondary-color: #3D2C8D;
  --inverted-tertiary-color: #C996CC;
}